@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
  background-color: #eee;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 200;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#header {
  /* height: 150px; */
  padding: 100px 0;
  /* background-color: #f3f4f4 !important; */
  background-color: #bbb !important;
  margin-bottom: 50px;
  text-align: center;
  background: url('img/1.jpg');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

#header h1 {
  font-weight: 300;
}

.cat-filter {
  padding: 10px 0px;
}

.menu-list {
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.menu-list-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.menu-list-item {
  padding: 1.25rem 1.5rem;
  line-height: 1.2;
}

.cart {
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.cart .empty-cart {
  padding: 10px;
  background-color: #fff;
  text-align: center;
  display: block;
}

.cart h3 {
  background-color: #fff;
  margin: 0;
  text-align: center;
  padding: 1.25rem 1.5rem;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
}

.cart-list-item {
  padding: 1.25rem 1.5rem;
  line-height: 1.2;
}

.cart-list-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.cart-list-item .quantity button {
  border: none;
  color: darkgray;
  background-color: transparent;
  margin: 0;
  padding: 0 5px;
}

.cart-list-item button.remove-item {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 1em;
  text-align: right;
  justify-self: right;
}

.cart-list-item .subtotal {
  margin-right: 10px;
}

.cart-table {
  line-height: 1.25;
  width: 100%;
}

table {
  border-collapse: collapse;
}

.cart-table td,
.cart-table th {
  vertical-align: middle;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.cart-table .price {
  font-weight: 500;
  text-align: right;
  width: 95px;
}

.cart-table .actions {
  white-space: nowrap;
  text-align: right;
}

.cart-table .actions button {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-align: initial;
}

.action-icon {
  color: #a4a7a9;
  margin: 0 .1em;
}

.cart-summary {
  padding: 1.5rem;
}

.form-control {
  box-shadow: inset 1px 1px 2px 0 rgba(40, 43, 46, .06);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 200;
  padding: 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 0;
  height: calc(3.25rem + 2px);
}

::placeholder {
  color: #aaa !important;
  /* font-size: 1.5em; */
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #bfbfbf;
  font-weight: bold;
  color: #e0eafc;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 40px;

}

.mymodal {
  /* padding: 20px; */
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.mymodal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.menu-options{
  padding: 0 30px;
  font-weight: 100;
}

.menu-options .header{
  padding: 20px
}

.menu-options .option{
  line-height: 200%;
  font-weight: 100;
}

.menu-options label{
  font-weight: 100 !important;
}